/*reset css*/
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
*{
	margin: 0;
	padding: 0;
}
.blue-background{
	background-color:#0865DE ;
	color:#FFFFFF ;
}
.header{
	margin-left: 846px;
	margin-right: 127px;
	height: 18px;
}
.header li{
	display: inline-block;
	margin-right: 59px;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
}
.header a{
	color: #FFFFFF;
}
h1{
	font-size: 30px;
	line-height: 43px;
	letter-spacing: 9px;
	text-transform: uppercase;
	margin-top: 104px;
	margin-bottom: 30px;
}
.CHARGE-DE-PROJET{
	margin-left: 179px;
	margin-bottom: 90px;
}
.CHARGE-DE-PROJET li{
	color: #D1D1D1;
	font-size: 14px;
	line-height: 33.3px;
}
.impact{
	margin-left: 179px;
}
.impact p{
	color:#D1D1D1;
	width: 830px;
	height: 124px;
	margin-right: 430px;
	margin-top: 30px;
	padding-bottom: 120px;
	font-size: 25px;
	line-height: 44px;
}
h2{
	font-size: 25px;
	line-height: 30px;
	letter-spacing: 5px;
	text-transform: uppercase;
}
.gray-background {
	background-color: #F7F7F7;
	height: 3084px;
}
.box1{
	margin-left: 179px
}
.box1 h2{
	padding-top: 91px;
}
.box1 p{
	font-size: 25px;
	height: 169px;
	width: 1079px;
	margin-top: 30px;
}
.whitebox{
	width: 1260px;
	height: 594.66px;
	justify-content: center;
	background-color: #FFFFFF;
	align-items: center;
	margin-left: 90px;
	margin-right: 90px;
}
.whitebox div{
	padding-left: 90px;
	display: inline-block;
}
.whitebox h2{
	padding-top: 60px;
	margin-bottom: 30px;
	margin-left: 90px;
	height: 36px;
}
.whitebox p{
	font-size: 18px;
	line-height: 33.3px;
	width: 438px;
	height: 126px;
}
.box2{
	margin-left: 179px;
	color: #262626;
}
.box2 h2{
	padding-top: 90.34px;
	height: 36px;
}
.box2 p{
	font-size: 18px;
	line-height: 33.3px;
	width: 794px;
	height: 326px;
	margin-top: 60px;
}
.whitebox2{
	width: 1260px;
	height: 576px;
	margin-left: 90px;
	background-color: #FFFFFF;
}
.whitebox2 h2{
	padding-top: 90px;
	height: 36px;
	padding-left: 90px;
}
.whitebox2 p{
	color: #434343;
	font-size: 18px;
	line-height: 33.3px;
	width: 651px;
	height: 85px;
	margin-top: 65px;
	margin-bottom: 63.02px;
	padding-left: 90px;
}
.whitebox2 a{
	color: #434343;
	text-decoration: underline;
}
.blueinwhite div{
	height: 147px;
	display: inline-block;
	background-color: #0865DE;
	margin-left: 90px;
}
.blueinwhite h3{
	font-size: 14px;
	line-height: 33.3px;
	color: #FFFFFF;
	padding-top: 26.98px;
	padding-right: 118px;
	padding-left: 30px;

}
.blueinwhite p{
	padding-top: 10px;
	margin: 0;
	font-size: 12px;
	color: #D1D1D1;
	width: 28px;
	height: 18px;
	margin-bottom: 24px;
	padding-left: 30px;
}
.blueinwhite a{
	color: #FFFFFF;
	font-size: 12px;
	line-height: 33.3px;
	padding-right: 160px;
	padding-bottom: 30.02px;
	padding-left: 64px;
	text-decoration: none;
}
#projet{
	margin-left: 60px;
}
#h3alone{
	font-size: 14px;
	line-height: 33.3px;
	margin-top: 90px;
	margin-left: 181px;
}
.articles{
	width: 1081.69px;
	height: 461.38px;
	margin-top: 60px;
	margin-left: 180px;
	margin-right: 178.31px;
}
article{
	width: 320px;
	height: 461.38px;
	display: inline-block;
	margin-right: 50px;
	background-color: #FFFFFF;
	border-color: #00000029;
}
#pic3{
	margin: 0;
}
article h4{
	font-size: 13px;
	line-height: 31px;
	margin-top: 30px;
	margin-left: 30px;
}
article p{
	font-size: 14px;
	line-height: 31px;
	margin-left: 30px;
}
article span{
	color: #000000;
	font-size: 11px;
	line-height: 31px;
	margin-left: 30px;
}
article a{
	margin-bottom: 37.99px;
	font-size: 11px;
	line-height: 31px;
	color: #262626;
	margin-top: 10px;
	margin-left: 30px;
}
img{
	width: 320px;
	height: 275.84px;
}
.orange-tag img{
	height: 48px;
	width: 46px;
}
.orange-tag{
	background-color: #FF7600;
	width: 176.32px;
	height: 48px;
	margin-left: 616px;
	margin-bottom: 91px;
	margin-top: 90.62px;
}
.orange-tag a{
	font-size: 12px;
	line-height: 33.3px;
	color: #FFFFFF;
}
.orange-tag div{
	display: inline-block;
}
footer{
	color: #06162E;
	background-color: #877a7a;
}